.property-list {
  display: grid;
  gap: 1.5rem;
  padding: 1.5rem;
}

.property-list .property-card-container {
  display: grid;
  gap: 1.5rem;
}

@media (min-width: 640px) {
  .property-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 768px) {
  .property-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .property-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
